@import url(https://fonts.googleapis.com/css?family=Ek+Mukta:400,800);
@import url(https://fonts.googleapis.com/css?family=Oswald);

body {
	font-family: 'Ek Mukta';
	margin: 0;
}
nav {
	background-color: #000;
	padding: 23px;
	text-align: right;
	color:#fff;
}
nav a {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	padding-right: 20px;
}
nav a:hover {
	color: #ff3333;
}
nav img {
	position: absolute;
	top:0;
	left: 0;
	width: 150px;
	padding: 20px;
}
.grey {
	color: #666;
	padding-right:30px;
}
div {

}
.container {
	padding: 20px;
	max-width: 900px;
	margin: 0 auto;
}
.testing {
	background-color: red;
}
.bkg {
	top: 0;
	left: 0;
	padding: 40px 0 0 0px;
	height: 100%;
	width: 100%;
	background: url(../../background.jpg) no-repeat center center; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
} 
.opacity-box {
	float:right;
	margin-right: 30px;
	width: 200px;
	padding: 22px;
	background-color: rgba(250, 250, 250, .5);
}
.opacity-bkg h2 {
	margin: 0;
}
.landing-page-content {
	color: #fff;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
	padding: 23px;
}
.landing-page-bottom {

}
.col1 {
	width: 49%;
	float: left;
}
.col2 {
	width: 49%;
	float: left;
	background-color: rgba(150, 150, 150, .5);
}
.red-text {
	max-width: 400px;
	font-family: 'Oswald';
	font-size: 1.8em;
	color: #ff3333;
}
.border-black {
	border: 2px solid #000;
	padding: 7px;
	margin: 2px;
	background: transparent;
	text-decoration: none;
	color: #000;
}
.border-black:hover {
	background-color: #000;
	color: #fff;
}
div.report {
	background-color: #fff;
	max-width: 700px;
	border: 1px solid #ccc;
	padding: 20px;
	margin: 0 auto;
}
div.report li {
	list-style-type: square;
}
div.report h2 {
	margin: 0;
}
.alert {
	text-align: right;
	padding-right: 30px;
	background-color: yellow;
}
div.report-links {
	text-align: right;
}
.border-grey {
	border: 2px solid #999;
	padding: 4px;
	background: transparent;
	text-decoration: none;
	color: #999;
}
.border-grey:hover {
	background-color: #999;
	color: #fff;
}










