<div class="container">
	<h1>Report an illegal incursion on your land</h1>
	<p class="red-text">Reach support organizations and journalists<br/> directly by making this report. </p>
	<p></p>
	<%= render :partial => 'form' %>
</div>